body{
	margin: 0px;
	margin-top: 3vw;
	color: #FFFFFF;
	background-color: #99B898;
}
nav{
	color: #FFFFFF;
	background-color: #fecea8;
	
}
h1{
	color: #FFFFFF;
	background-color: #ff947c;
	font-size: 10vw;
	margin: 0px;
}
